body {
    background-color: color-mix(in srgb, blue 19%, purple 19%);
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 25%;
}

div h3 {
    text-align: center;
    padding-bottom: 10px;
}

#box {
    margin-left: 16%;
    width: 330px;
    height: 150px;
    border: solid purple 1px;
    border-radius: 10px;
    outline: none;

}
#box:focus{
    border: solid black 1px;
}
#max{
    padding-left: 50%;
}
#warning{
    padding-left: 18%;
    color: red;
}
@media screen and (min-width:600px) {

    div{
        width: 500px;
        margin-top: 10%;
        margin-left: 30%;
    }
    #max{
        padding-left: 60% ;
    }
}